.container {
	background: url("img/pond.jpg");
	background-size: cover;
}

p {
	color: white;
}

.intro {
	font-family: 'Acme', sans-serif;
	font-size: 18px;
	color: black;
	position: absolute;
	top: 23%;
	left: 27%;
}

.hidden {
	color: green;
}

.duck-image {
	height: 75px;
	width: 75px;
	padding: 5px;
}

h2 {
	font-family: 'Acme', sans-serif;
	color: black;
}