.container {
	background: url("img/cave.jpg");
	background-size: cover;
}

.duck {
	height: 100px;
	width: 100px;
}

.intro {
	font-family: 'Creepster', cursive;
	font-size: 40px;
	color: red;
/*	position: absolute;
	top: 23%;*/
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.row {
	height: 150px;
}

.pot {
	position: relative;
	top: 70%;
}