.container {
	background: url("img/heaven.jpg");
	background-size: cover;
}

.duck {
	height: 100px;
	width: 100px;
}

.intro {
	font-family: 'Cinzel', serif;
	font-size: 30px;
	color: #FFD700;
	position: absolute;
	top: 23%;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.row {
	height: 150px;
}

.halo {
	position: relative;
	left: 260px;
}